
.jumbotron{
    background-color: #faf550;
    height: 100%;
}
#gameName{
    color: red;
    font-family: 'Monoton', cursive;
}
hr{
    width: 50%;
    border-top: 2px solid red;

}
h3{
    color: red;
}
.guess{
    color: blue;
}
h2{
    color: green;
}

.btn{
    padding: 20px;
    font-size: 20px;
}
body{
    background-color: #faf550;
    height: 100%;
}
img{
    width: 600px;
}
@media screen and (max-width:640px){
    #gameName{
        margin-left: 100px;
        width: 100%;
        
    }
    #press{
    width: 100%;
    margin-left: 100px;
    }
    hr{
        width: 395px;
        margin-left: 105px;
    }
}